{% block content %}
    <h1>All posts</h1>
    {% for post in posts %}
        <div style="border: black solid 1px">
            <h2><a href="{% url 'get' post.id %}">{{ post.title }}</a></h2>
            <h3>{{ post.author }}</h3>
            {{ post.body }}
            {% if user.get_username == post.author %}
            <a href="{% url 'update_post_new' post.id %}">edit</a>
            <a href="{% url 'delete_post' post.id %}">del</a>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}
